<div class="layout-footer">
    <span class="footer-text-left">
        <img src="assets/layout/images/ta-logo-dark.svg" />
    </span>
    <span class="footer-text-right">
        <a href="#"><i class="pi pi-facebook"></i></a>
        <a href="#"><i class="pi pi-twitter"></i></a>
    </span>
</div>
