<div class="layout-wrapper" (click)="onLayoutClick()"
    [ngClass]="{'menu-layout-static': this.layoutMode !== 'overlay',
    'menu-layout-overlay': this.layoutMode === 'overlay',
    'layout-menu-overlay-active': overlayMenuActive,
    'menu-layout-slim': this.layoutMode === 'slim',
    'menu-layout-horizontal': this.layoutMode === 'horizontal',
    'layout-menu-static-inactive': this.staticMenuDesktopInactive,
    'layout-menu-static-active': staticMenuMobileActive,
    'p-input-filled': this.inputStyle === 'filled',
    'p-ripple-disabled': !this.ripple}">

    <app-header></app-header>

    <div class="layout-menu-container" [ngClass]="{'layout-menu-dark': this.darkMenu}" (click)="onMenuClick($event)">
        <div class="menu-scroll-content">
            <app-sidenav></app-sidenav>
        </div>
    </div>

    <div class="layout-main">
        <router-outlet></router-outlet>
    </div>

    <div class="layout-mask"></div>

    <app-footer></app-footer>

</div>
