<div class="topbar clearfix">
    <div class="topbar-left">
        <a routerLink="/">
            <img src="assets/layout/images/ta-logo-white.svg" class="topbar-logo" routerLink="/" />
        </a>
    </div>
    <div class="topbar-right">
        <a id="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)" [ngClass]="{'menu-button-rotate': appMain.rotateMenuButton}">
            <i class="pi pi-angle-left"></i>
        </a>
        <a id="topbar-menu-button" href="#" (click)="appMain.onTopbarMenuButtonClick($event)">
            <i class="pi pi-bars"></i>
        </a>
        <ul class="topbar-items fadeInDown" [ngClass]="{'topbar-items-visible': appMain.topbarMenuActive}">
            <li #profile class="profile-item active-top-menu" *ngIf="appMain.profileMode==='top'|| appMain.isHorizontal()"
                [ngClass]="{'active-top-menu':appMain.activeTopbarItem === profile}">
                <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                    <img class="profile-image" src="assets/layout/images/avatar.png" />
                    <span class="topbar-item-name">Isabel Lopez</span>
                    <span class="topbar-item-role">Admin</span>
                </a>
                <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                    <li role="menuitem">
                        <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                            <i class="pi pi-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

