<div class="p-grid p-nogutter">
    <div class="card" style="width: 100%">
        <h5>Bank Entry</h5>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="p-fluid p-grid p-mt-5">
                <div class="p-col-24 p-md-6">
                    <div class="p-field p-grid">
                        <label for="code" class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Bank Code</label>
                        <div class="p-col-12 p-md-9">
                            <input id="code" name="code" type="text" [(ngModel)]="bank.code" #codeCtrl="ngModel" [ngClass]="{'ng-dirty': codeCtrl.touched}" pInputText required>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="name" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Bank Name</label>
                        <div class="p-col-12 p-md-9">
                            <input id="name" name="name" type="text" [(ngModel)]="bank.name" #nameCtrl="ngModel" [ngClass]="{'ng-dirty': nameCtrl.touched}" pInputText required>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <div class="p-col-2 p-md-2 p-ml-auto">
                            <button pButton pRipple type="submit" class="p-button-success" [disabled]="form.invalid" label="Save"></button>
                        </div>
                        <div class="p-col-2 p-md-2">
                            <button pButton pRipple type="button" class="p-button-danger" label="Cancel" (click)="onCancel()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
