<div class="p-grid table-demo">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
				</ng-template>

				<ng-template pTemplate="right">
					<button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="onAdd()"></button>
				</ng-template>
			</p-toolbar>
            <p-table #dt [value]="banks" [(selection)]="selectedBanks" dataKey="id"
                    styleClass="p-datatable-banks" [rowHover]="true" [rows]="10" [paginator]="true"
                    [filterDelay]="0" [globalFilterFields]="['code','name','status']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        Bank Listing
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global Search"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Bank Code
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="code" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="name">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Bank Name
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="status">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Bank Status
                                <p-sortIcon field="status"></p-sortIcon>
                                <p-columnFilter type="text" field="status" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bank>
                    <tr class="p-selectable-row">
                        <td>
                            <p-tableCheckbox [value]="bank"></p-tableCheckbox>
                        </td>
                        <td>
                            <span class="p-column-title">Bank Code</span>  
                            {{bank.code}}               
                        </td>
                        <td>
                            <span class="p-column-title">Bank Name</span>
                            {{bank.name}}  
                        </td>
                        <td>
                            <span class="p-column-title">Status</span>       
                            {{bank.status}}                     
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <button pButton pRipple label="Activate" class="p-button-primary p-mr-2 p-mb-2" [disabled]="!selectedBanks || !selectedBanks.length"></button>
					<button pButton pRipple label="Deactivate" class="p-button-primary p-mb-2" [disabled]="!selectedBanks || !selectedBanks.length"></button>
				</ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No banks found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
